<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block meta %}{% endblock meta %}
    {% block css %}{% endblock css %}
    <title>{% block title %}{% endblock title %}|Chat</title>
</head>
<body>
    <nav>
        <a class="selected nav-button" id="chats" href="{% url 'all_chats' %}">All Chats</a>
        <a class="nav-button" id="new" href="{% url 'new_chat' %}">New Chat</a>
      </nav>
    <header></header>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <footer></footer>
    <script src="{% static 'chat/js/base.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>