<!-- all_chats_template.html -->
{% extends 'base.html' %}{% load static %}
{% block meta %}{% endblock meta %}
{% block css %}{% endblock css %}
{% block title %}{% endblock title %}
{% block content %}
  <div id="all-chats-container">
    {% for conversation in conversations %}
      <div class="conversation" data-conversation-id="{{ conversation.id }}">
        <h3>{{ conversation.id }}</h3>
        <p>Last Message: {{ last_message_timestamps|default:"No messages" }}</p>
      </div>
    {% empty %}
        <p>No conversations found.</p>
    {% endfor %}
  </div>
{% endblock content %}
{% block js %}
<script>
    function checkForNewMessages() {
      {% for conversation in conversations %}
        var conversationId = {{ conversation.id }};
        var lastMessageTimestamp = "{{ last_message_timestamps|default:"" }}";

        $.ajax({
          url: "{% url 'check_new_messages' conversation.id %}?last_message_timestamp=" + lastMessageTimestamp,
          success: function(data) {
            if (data.has_new_messages) {
              showNotification(conversationId);
            }
          },
        });
      {% endfor %}
    }

    // Update every 10 seconds (adjust as needed)
    setInterval(checkForNewMessages, 10000);

    function showNotification(conversationId) {
      console.log('New message in conversation ' + conversationId);
      alert('New message in conversation ' + conversationId);
    }
  </script>
{% endblock js %}